<div class="container-login">
  <div class="content-inputs">
    <div class="input-body">
      <input type="text" name="" id="" placeholder="E-mail">
      <i class="fi fi-rr-user"></i>
    </div>
    <div class="input-body">
      <input type="text" name="" id="" placeholder="Password">
      <i class="fi fi-rr-lock"></i>
    </div>
    <button id="button-login">login</button>
  </div>
  <span> or </span>
  <div class="another-login">
    <button id="button-google"> Continue with Google <i class="fi fi-brands-google"></i></button>
    
    <button id="button-google"> Continue with Apple <i class="fi fi-brands-apple"></i></button>
  </div>
</div>
